* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}
button {
	width: 50px;
	height: 50px;
	padding-top: 7px;
	padding-left: 14px;
	padding-right: 14px;
	margin: 10px;
	border: none;
	background-color: #333;
	border-radius: 50%;
	outline: none;
	cursor: pointer;
}
button:active {
	background-color: rgba(249, 253, 255,0.2);
}
li {
	cursor: pointer;
	margin-left: none;
	
}
.header {
	background-color: #333;
}
li:hover {
	background-color: rgba(249, 253, 255,0.2);
}
hr {
	margin-bottom: 4px;
	background-color: #fff;
	border: 1.5px solid #fff;
	border-radius: 1px;
}
nav {
	width: 20%;
	margin-left: 0;
	background-color:  #333;
}
.nav-list {
	list-style: none;
	margin-left: none;
	padding: 10px 0;
	padding-left: 30px;
}
a {
	text-decoration: none;
	color: #fff;
	opacity: 0.9;
}
a span {
	opacity: 0.7;
	margin-right: 30px;
}
.disabled-menu {
	display: none;
}
.enabled-menu {
	display: block;
}
.color {
	color: red;
	opacity: 1.0;
}